<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.maintenance">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Maintenance">
        <activity
            android:name=".InfosProprietaire"
            android:exported="false" />
        <activity
            android:name=".InfosIntervention"
            android:exported="false" />
        <activity
            android:name=".InfosVehicule"
            android:exported="false" />
        <activity
            android:name=".ListeProprietaire"
            android:exported="false" />
        <activity
            android:name=".ListeIntervention"
            android:exported="false" />
        <activity
            android:name=".ListeVehicule"
            android:exported="false" />
        <activity
            android:name=".SaisieProprietaire"
            android:exported="false" />
        <activity
            android:name=".SaisieIntervention"
            android:exported="false" />
        <activity
            android:name=".SaisieVehicule"
            android:exported="false" />
        <activity
            android:name=".Menu"
            android:exported="false" />
        <activity
            android:name=".Authentication"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>